' ################################################################
' #                                                              #
' #  This file is part of hermesbaby                             #
' #                       the software engineer's typewriter     #
' #                                                              #
' #  Copyright (c) 2024 Alexander Mann-Wahrenberg (basejumpa)    #
' #                                                              #
' #      https://github.com/basejumpa                            #
' #                                                              #
' #  License(s)                                                  #
' #                                                              #
' #  - MIT for contents used as software                         #
' #  - CC BY-SA-4.0 for contents used as method or otherwise     #
' #                                                              #
' ################################################################

!theme plain
!pragma teoz true
skinparam style strictuml
skinparam componentstyle uml2
hide footbox
